<div class="mainDiv">
    <h2>{{name| lowercase}}</h2>
    <h2>{{name|uppercase}}</h2>
    <h2>{{message|titlecase}}</h2>
    <h2>{{details|json}}</h2>

    <!-- //number pipe -->
    <h2>{{5.678|number:'1.2-3'}}</h2>
      <!-- first number represets the number of interger
      second number represets the minimum decimal value
      third number represents the maximum decimal value -->
    <h2>{{5.678|number:'2.2-3'}}</h2>
    <!-- if not have minimum values its add the zero to its -->
    <h2>{{5.678|number:'2.4-5'}}</h2>
    <!-- if the max number represents less then it round up the number-->
    <h2>{{5.678|number:'2.1-2'}}</h2>
    
    <!--slice pipe-->
    <h2>{{data|slice:3}}</h2>
    <h2>{{data|slice:3:5}}</h2>

    <!--currency pipe-->
    <h2>{{0.25|currency}}</h2>
    <h2>{{0.25|currency:'GBP'}}</h2>
    <h2>{{0.25|currency:'GBP ':'code'}}</h2>

    <!--Date pipe-->
    <h2>{{date}}</h2>
    <h2>{{date|date}}</h2>
    <h2>{{date|date:'short'}}</h2>
    <h2>{{date|date:'shortTime'}}</h2>
    <h2>{{date|date:'shortDate'}}</h2>
    <h2>{{date|date:'medium'}}</h2>
    <h2>{{date|date:'mediumTime'}}</h2>
    <h2>{{date|date:'mediumDate'}}</h2>
    <h2>{{date|date:'long'}}</h2>
    <h2>{{date|date:'longDate'}}</h2>
    <h2>{{date|date:'longTime'}}</h2>



</div>